doctype 5
html
  head
    title #{title}
    meta(name="viewport", content="width=device-width")
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    readers-header Reade.rs
    
    div(class='black-header-border')

    block content
