doctype 5
html
  head
    title = title
    meta(name="viewport", content="width=device-width")
    link(rel='stylesheet', href='/public/stylesheets/normalize.css')
    link(rel='stylesheet', href='/public/stylesheets/foundation.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    script(src='/public/javascripts/vendor/custom.modernizr.js')

  body
    div(class='contain-to-grid sticky')
      nav(class="top-bar")
        h1
          readers-header Reade.rs

    block content

    script document.write('<script src=' + ('__proto__' in {} ? '/public/javascripts/vendor/zepto' : '/public/javascripts/vendor/jquery') +'.js><\/script>')

    script(src='/public/javascripts/foundation.min.js')
    script(src='/public/javascripts/foundation/foundation.reveal.js')
    script(src='/public/javascripts/foundation/foundation.topbar.js')
    script $(document).foundation()