@font-face
  font-family: "Yanone-Bold"
  src: url("/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Bold.ttf")

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color:black
  background-image:url("/images/cream_dust.png")

.black-header-border
  display:inline-block
  height: 5px
  width: 100%
  background-color: black

readers-header
  margin-top : 6 px
  font-family: "Yanone-Bold"
  color : black
  text-align : center
  display: block
  font-size : 40 px
  line-height : 35 px
