@import nib

@font-face
  font-family: "Yanone-Bold"
  src: url("/public/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Bold.ttf")

body
  font-family: 'Open Sans', sans-serif;
  font: 14px 'Open Sans',"Lucida Grande", Helvetica, Arial, sans-serif
  color:black
  //background-color: #31383F
  background-image:url("/public/images/cream_dust.png")
  width:100%

img
  width: 100%
  height: auto
  margin-left: auto
  margin-right: auto

readers-header
  position:relative
  top:10px
  font-size: 40 px
  font-family: "Yanone-Bold"
  width:100%

.navbar
  position:fixed
  display:block
  top:0
  left:0
  background-color:rgba(255,255,255,0.8)
  width: 100%
  margin:0
  z-index:3000
  overflow:hidden
  text-align:center
  border-bottom:5px solid black

.sub-navbar-padding
  display:block
  background: linear-gradient(bottom, white, black)
  width: 100%
  top:0
  left:0
  margin:0
  height:52px
  padding:0

.story-container
  line-height : 1.5
  max-width: 625px
  position: relative
  margin: 0px auto 100px auto
  padding: 15px
  font-size: 15px
  min-width: 200px
  overflow:hidden
  //background-color: white
  border-radius:0 0 5px 5px
  box-sizing:border-box

readers-story-title
  display: block
  text-align: center
  width: 100%

readers-story-date
  display: block
  text-align: center
  width: 100%
  color: rgba(145, 153, 161, 1)
  font-weight: 600


@media only screen and (max-device-width: 400px)
  .story-container
    margin: 0px auto 0px auto