@font-face{font-family:"Yanone-Bold";src:url("/public/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Bold.ttf")}
body{font:14px "Lucida Grande",Helvetica,Arial,sans-serif;color:#000}
readers-header{font-family:"Yanone-Bold";color:#000;text-align:center;display:block}
